# Data Cleaning

In [160]:
# importing libraries
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.preprocessing import StandardScaler
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [101]:
# Importing csv file in Pandas

path = "A2.csv"

# Reading the file

df_original_churndata = pd.read_csv(path)

df_original_churndata

,Unnamed: 0,gender,SeniorCitizen,Partner,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,TotalCharges,Churn,Geography,CreditScore,Surname,EstimatedSalary,MonthlyCharges,customerID,Dependents,PaymentMethod,Charge
0,0,Female,0.0,Yes,72.0,Yes,No,Fiber optic,Yes,Yes,Yes,Yes,Yes,Yes,Two year,Yes,7679.65,No,Germany,602.0,Klein,45038.29,108.30,6519-ZHPXP,Yes,Bank transfer (automatic),108.30
1,1,Male,0.0,Yes,30.0,Yes,Yes,DSL,No,No,No,No,No,No,Month-to-month,No,1441.95,No,Germany,776.0,Lung,89893.60,49.90,1958-RNRKS,No,Electronic check,49.90
2,2,Male,0.0,Yes,49.0,No,No phone service,DSL,Yes,No,No,No,No,Yes,Month-to-month,Yes,1838.15,No,Germany,709.0,Lucciano,11.58,39.20,7989-AWGEH,Yes,Electronic check,39.20
3,3,Female,1.0,Yes,25.0,Yes,Yes,DSL,Yes,No,No,Yes,Yes,No,Month-to-month,Yes,1752.65,No,France,788.0,O'Brien,116978.19,69.50,6575-SUVOI,No,Credit card (automatic),69.50
4,4,Female,1.0,Yes,72.0,Yes,Yes,Fiber optic,Yes,Yes,Yes,Yes,Yes,Yes,Two year,Yes,8333.95,No,Germany,733.0,Medvedeva,177994.81,114.65,1779-PWPMG,No,Bank transfer (automatic),114.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,7995,Female,1.0,No,14.0,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,Two year,No,692.35,No,Germany,714.0,Y?,7571.51,39.70,9796-MVYXX,No,Mailed check,39.70
7996,7996,Female,0.0,Yes,1.0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,20.65,No,France,664.0,Napolitano,15304.08,20.65,2480-JZOSN,No,Mailed check,20.65
7997,7997,Female,0.0,Yes,2.0,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,63.75,No,Spain,706.0,Morrison,75732.25,30.25,7389-KBFIT,Yes,Mailed check,30.25
7998,7998,Male,1.0,No,1.0,Yes,No,DSL,No,No,No,No,No,No,Month-to-month,No,45.1,Yes,Spain,700.0,Obidimkpa,45424.13,45.10,8080-DDEMJ,No,Electronic check,45.10
7999,7999,Female,0.0,No,14.0,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,914,Yes,Spain,687.0,Kozlova,17696.22,71.00,3677-TNKIO,No,Credit card (automatic),71.00

In [102]:
# Determining the total number of columns and the data type of each column

df_original_churndata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        8000 non-null   int64
 1   gender            7938 non-null   object
 2   SeniorCitizen     7954 non-null   float64
 3   Partner           7952 non-null   object
 4   tenure            7938 non-null   float64
 5   PhoneService      7947 non-null   object
 6   MultipleLines     7933 non-null   object
 7   InternetService   7944 non-null   object
 8   OnlineSecurity    7941 non-null   object
 9   OnlineBackup      7960 non-null   object
 10  DeviceProtection  7953 non-null   object
 11  TechSupport       7954 non-null   object
 12  StreamingTV       7950 non-null   object
 13  StreamingMovies   7947 non-null   object
 14  Contract          7952 non-null   object
 15  PaperlessBilling  7952 non-null   object
 16  TotalCharges      7961 non-null   object
 17  Churn             7934 non-null   object
 18  Geography         7948 non-null   object
 19  CreditScore       7938 non-null   float64
 20  Surname           7942 non-null   object
 21  EstimatedSalary   7951 non-null   float64
 22  MonthlyCharges    7968 non-null   float64
 23  customerID        8000 non-null   object
 24  Dependents        8000 non-null   object
 25  PaymentMethod     8000 non-null   object
 26  Charge            8000 non-null   float64
dtypes: float64(6), int64(1), object(20)
memory usage: 1.6+ MB

In [103]:
# See all the columns in the dataset 

pd.set_option('display.max_columns', None)

# Using head() with 50 to show all columns and their values

df_original_churndata.head(50)

,Unnamed: 0,gender,SeniorCitizen,Partner,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,TotalCharges,Churn,Geography,CreditScore,Surname,EstimatedSalary,MonthlyCharges,customerID,Dependents,PaymentMethod,Charge
0,0,Female,0.0,Yes,72.0,Yes,No,Fiber optic,Yes,Yes,Yes,Yes,Yes,Yes,Two year,Yes,7679.65,No,Germany,602.0,Klein,45038.29,108.30,6519-ZHPXP,Yes,Bank transfer (automatic),108.30
1,1,Male,0.0,Yes,30.0,Yes,Yes,DSL,No,No,No,No,No,No,Month-to-month,No,1441.95,No,Germany,776.0,Lung,89893.60,49.90,1958-RNRKS,No,Electronic check,49.90
2,2,Male,0.0,Yes,49.0,No,No phone service,DSL,Yes,No,No,No,No,Yes,Month-to-month,Yes,1838.15,No,Germany,709.0,Lucciano,11.58,39.20,7989-AWGEH,Yes,Electronic check,39.20
3,3,Female,1.0,Yes,25.0,Yes,Yes,DSL,Yes,No,No,Yes,Yes,No,Month-to-month,Yes,1752.65,No,France,788.0,O'Brien,116978.19,69.50,6575-SUVOI,No,Credit card (automatic),69.50
4,4,Female,1.0,Yes,72.0,Yes,Yes,Fiber optic,Yes,Yes,Yes,Yes,Yes,Yes,Two year,Yes,8333.95,No,Germany,733.0,Medvedeva,177994.81,114.65,1779-PWPMG,No,Bank transfer (automatic),114.65
5,5,Male,0.0,Yes,58.0,Yes,Yes,DSL,Yes,Yes,Yes,Yes,No,No,Two year,No,4230.25,No,France,479.0,Wei,95270.83,71.60,7162-WPHPM,Yes,Credit card (automatic),71.60
6,6,Female,0.0,Yes,57.0,Yes,No,DSL,Yes,Yes,No,No,No,No,One year,No,3053,No,Spain,627.0,Mazure,146680.25,53.45,2550-AEVRU,Yes,Electronic check,53.45
7,7,Male,0.0,Yes,71.0,Yes,Yes,Fiber optic,Yes,No,Yes,No,Yes,Yes,Two year,No,7405.5,No,Spain,516.0,He,146145.93,105.55,3363-DTIVD,Yes,Electronic check,105.55
8,8,Female,0.0,Yes,72.0,Yes,Yes,DSL,Yes,Yes,Yes,Yes,Yes,Yes,Two year,Yes,6786.1,No,France,623.0,Yuan,84421.34,92.40,2167-FQSTQ,No,Electronic check,92.40
9,9,Female,0.0,Yes,53.0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,1039.45,No,Germany,624.0,Bledsoe,30020.09,19.85,5642-MHDQT,Yes,Bank transfer (automatic),19.85
10,10,Female,0.0,No,6.0,Yes,NaN,Fiber optic,No,Yes,No,No,No,Yes,Month-to-month,Yes,514.6,No,France,850.0,Hartung,180622.02,NaN,8132-YPVBX,No,Mailed check,85.95
11,11,Female,0.0,No,43.0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,1070.15,No,Spain,552.0,Gilbert,195692.30,25.10,0057-QBUQH,Yes,Electronic check,25.10
12,12,Female,0.0,Yes,64.0,No,No phone service,DSL,Yes,No,Yes,Yes,No,Yes,Two year,No,3147.5,Yes,Germany,481.0,Jamieson,96123.72,47.85,0617-AQNWT,No,Electronic check,47.85
13,13,Male,0.0,No,18.0,Yes,Yes,Fiber optic,No,Yes,No,No,No,No,Month-to-month,Yes,1451.9,Yes,France,510.0,Swift,44374.44,80.65,8854-CCVSQ,No,Electronic check,80.65
14,14,Male,0.0,No,14.0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,299.3,No,France,747.0,Cameron,57817.84,20.05,8317-BVKSO,No,Electronic check,20.05
15,15,Male,0.0,Yes,72.0,Yes,Yes,Fiber optic,Yes,Yes,Yes,No,Yes,Yes,Two year,Yes,7767.25,No,Germany,623.0,Nyhan,645.61,108.40,1320-GVNHT,Yes,Credit card (automatic),108.40
16,16,Female,1.0,No,7.0,Yes,No,Fiber optic,No,No,Yes,No,Yes,No,Month-to-month,Yes,609.65,No,Spain,739.0,Sleeman,12796.43,84.35,2123-AGEEN,No,Electronic check,84.35
17,17,Male,1.0,No,8.0,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,560.85,Yes,Germany,553.0,Trentini,160574.09,69.70,3999-QGRJH,No,Electronic check,69.70
18,18,Female,0.0,Yes,57.0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,1272.05,No,France,543.0,Onio,85983.54,19.75,1399-OUPJN,Yes,Bank transfer (automatic),19.75
19,19,Female,0.0,No,5.0,Yes,Yes,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,283.95,No,Germany,622.0,Brooks,81723.80,53.80,7129-ACFOG,No,Electronic check,53.80
20,20,Male,0.0,No,8.0,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,No,553.4,No,Germany,578.0,Douglas,66680.77,70.70,7967-HYCDE,No,Bank transfer (automatic),70.70
21,21,Male,0.0,No,3.0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,52.05,No,Germany,604.0,Hsing,134875.37,21.20,8909-BOLNL,No,Mailed check,21.20
22,22,Male,0.0,Yes,43.0,Yes,No,DSL,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,3566.6,No,France,841.0,Shaw,122662.98,79.15,5318-YKDPV,Yes,Credit card (automatic),79.15
23,23,Male,0.0,No,1.0,No,No phone service,DSL,No,No,No,No,No,No,Month-to-month,No,24.2,No,France,539.0,Adams,167289.82,24.20,5351-QESIO,Yes,Mailed check,24.20
24,24,Female,0.0,No,8.0,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,820.5,Yes,Spain,645.0,Chu,149756.71,99.65,9305-CDSKC,No,Electronic check,99.65
25,25,Female,0.0,Yes,67.0,Yes,Yes,Fiber optic,Yes,No,No,Yes,No,Yes,One year,Yes,6341.45,Yes,Germany,546.0,Chibueze,128881.87,94.35,3351-NQLDI,Yes,Credit card (automatic),94.35
26,26,Male,0.0,Yes,32.0,Yes,Yes,Fiber optic,No,No,No,Yes,No,No,One year,Yes,2619.15,No,Germany,606.0,Ferguson,53784.22,79.25,1422-DGUBX,No,Electronic check,79.25
27,27,Male,1.0,Yes,71.0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,1388.45,No,Spain,599.0,Napolitani,130086.47,19.80,3996-ZNWYK,Yes,Credit card (automatic),19.80
28,28,Male,0.0,No,1.0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,20.25,Yes,France,757.0,Christie,137136.29,20.25,4211-MMAZN,No,Mailed check,20.25
29,29,Female,0.0,Yes,8.0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,160.05,No,Germany,602.0,Chung,113781.99,19.80,1226-JZNKR,Yes,Electronic check,19.80
30,30,Female,1.0,No,8.0,Yes,No,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,729.95,Yes,Spain,830.0,Genovese,81622.52,92.10,4145-UQXUQ,No,Electronic check,92.10
31,31,Female,0.0,Yes,54.0,Yes,Yes,Fiber optic,Yes,Yes,No,No,Yes,Yes,Month-to-month,Yes,5645.8,No,France,745.0,Lombardi,130789.60,104.10,6353-BRMMA,Yes,Bank transfer (automatic),104.10
32,32,Male,1.0,Yes,72.0,Yes,Yes,DSL,No,Yes,Yes,Yes,Yes,No,Two year,No,5396.25,No,Spain,597.0,Williamson,70532.53,77.35,5329-KRDTM,No,Credit card (automatic),77.35
33,33,Female,1.0,Yes,50.0,Yes,Yes,Fiber optic,Yes,Yes,Yes,No,Yes,Yes,Month-to-month,No,5431.9,No,Germany,706.0,McDonald,171037.63,108.75,2144-BFDSO,No,Bank transfer (automatic),108.75
34,34,Male,0.0,No,16.0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,294.9,No,France,655.0,Ives,126565.21,19.75,8573-CGOCC,No,Credit card (automatic),19.75
35,35,Male,0.0,Yes,14.0,Yes,No,DSL,No,No,No,Yes,No,No,Month-to-month,No,664.4,No,Germany,555.0,Hsia,43507.10,48.80,9097-ZUBYC,No,Bank transfer (automatic),48.80
36,36,Female,0.0,No,57.0,Yes,Yes,Fiber optic,Yes,Yes,No,Yes,No,No,Month-to-month,Yes,4884.85,No,Spain,546.0,Loggia,86945.00,87.55,5240-CAOYT,No,Bank transfer (automatic),87.55
37,37,Female,0.0,Yes,72.0,Yes,Yes,Fiber optic,Yes,Yes,No,No,No,No,Two year,Yes,6052.25,No,Germany,649.0,Omeokachie,143544.48,84.05,2904-GGUAZ,No,Bank transfer (automatic),84.05
38,38,Male,1.0,No,16.0,Yes,Yes,Fiber optic,No,No,No,No,Yes,No,Month-to-month,Yes,1281,Yes,France,710.0,Bennett,192928.82,86.60,3372-KWFBM,No,Electronic check,86.60
39,39,NaN,0.0,No,12.0,Yes,Yes,Fiber optic,No,No,No,No,Yes,No,Month-to-month,Yes,1059.55,Yes,France,532.0,Aksenov,177099.71,84.45,7613-LLQFO,No,Electronic check,84.45
40,40,Male,0.0,No,72.0,Yes,Yes,Fiber optic,No,Yes,Yes,Yes,Yes,Yes,Two year,No,7878.3,No,Germany,725.0,Tsao,124052.97,109.20,6614-FHDBO,No,Bank transfer (automatic),109.20
41,41,Male,1.0,Yes,57.0,Yes,Yes,Fiber optic,No,Yes,Yes,No,No,Yes,Month-to-month,Yes,5427.05,Yes,France,609.0,Chidozie,181177.90,95.25,3207-OYBWH,No,Bank transfer (automatic),95.25
42,42,Female,0.0,Yes,28.0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,543,No,France,465.0,Yudin,78698.09,19.90,2819-GWENI,Yes,Mailed check,19.90
43,43,Male,0.0,No,44.0,Yes,Yes,Fiber optic,No,No,Yes,No,No,Yes,Month-to-month,Yes,4063,No,Spain,709.0,Whitehead,162922.65,90.40,8782-LKFPK,No,Mailed check,90.40
44,44,Male,0.0,No,22.0,Yes,Yes,Fiber optic,Yes,No,No,No,Yes,Yes,Month-to-month,Yes,2095,Yes,Germany,778.0,Solomon,181221.09,100.75,5590-BYNII,No,Electronic check,100.75
45,45,Female,0.0,No,42.0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,844.45,No,France,584.0,Ayers,176678.72,20.75,5542-NKVRU,No,Bank transfer (automatic),20.75
46,46,Female,1.0,Yes,24.0,Yes,No,Fiber optic,No,No,Yes,No,Yes,Yes,Two year,Yes,2263.45,No,Germany,525.0,O'Donnell,55072.93,96.55,7826-VVKWT,Yes,Electronic check,96.55
47,47,Male,0.0,No,71.0,Yes,Yes,Fiber optic,Yes,Yes,Yes,Yes,Yes,Yes,One year,Yes,8309.55,No,France,773.0,Mitchell,1118.31,116.30,0186-CAERR,No,Bank transfer (automatic),116.30
48,48,Male,0.0,Yes,16.0,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,1189.4,No,France,555.0,Yeates,189122.89,75.40,4301-VVZKA,No,Electronic check,75.40
49,49,Female,0.0,Yes,18.0,Yes,No,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,1745.5,No,France,548.0,Azubuike,177017.39,95.95,4647-MUZON,No,Credit card (automatic),95.95

In [104]:
# Making a duplicate such that the original dataset is not harmed

df_churndata = df_original_churndata.copy()

# Creating new data set with only required columns

df_churndata = df_churndata.loc[ : , ["gender", "tenure", "PhoneService", \
                                    "MultipleLines", "InternetService", "OnlineSecurity", \
                                    "OnlineBackup", "DeviceProtection", "TechSupport", \
                                    "StreamingTV", "StreamingMovies", "Contract", "TotalCharges", \
                                    "Churn", "Geography", "PaymentMethod", "Charge"]
                               ]


#To see the the created dataset

df_churndata.head()

,gender,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,TotalCharges,Churn,Geography,PaymentMethod,Charge
0,Female,72.0,Yes,No,Fiber optic,Yes,Yes,Yes,Yes,Yes,Yes,Two year,7679.65,No,Germany,Bank transfer (automatic),108.30
1,Male,30.0,Yes,Yes,DSL,No,No,No,No,No,No,Month-to-month,1441.95,No,Germany,Electronic check,49.90
2,Male,49.0,No,No phone service,DSL,Yes,No,No,No,No,Yes,Month-to-month,1838.15,No,Germany,Electronic check,39.20
3,Female,25.0,Yes,Yes,DSL,Yes,No,No,Yes,Yes,No,Month-to-month,1752.65,No,France,Credit card (automatic),69.50
4,Female,72.0,Yes,Yes,Fiber optic,Yes,Yes,Yes,Yes,Yes,Yes,Two year,8333.95,No,Germany,Bank transfer (automatic),114.65

In [6]:
# Using info() to analyze selected data

df_churndata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7938 non-null   object
 1   tenure            7938 non-null   float64
 2   PhoneService      7947 non-null   object
 3   MultipleLines     7933 non-null   object
 4   InternetService   7944 non-null   object
 5   OnlineSecurity    7941 non-null   object
 6   OnlineBackup      7960 non-null   object
 7   DeviceProtection  7953 non-null   object
 8   TechSupport       7954 non-null   object
 9   StreamingTV       7950 non-null   object
 10  StreamingMovies   7947 non-null   object
 11  Contract          7952 non-null   object
 12  TotalCharges      7961 non-null   object
 13  Churn             7934 non-null   object
 14  Geography         7948 non-null   object
 15  PaymentMethod     8000 non-null   object
 16  Charge            8000 non-null   float64
dtypes: float64(2), object(15)
memory usage: 1.0+ MB

In [105]:
# Checking the total count of null values in each row

df_churndata.isnull().any(axis = 1).sum()

765

In [106]:
# Checking the total count of null values in each column

df_churndata.isnull().sum(axis = 0)

gender              62
tenure              62
PhoneService        53
MultipleLines       67
InternetService     56
OnlineSecurity      59
OnlineBackup        40
DeviceProtection    47
TechSupport         46
StreamingTV         50
StreamingMovies     53
Contract            48
TotalCharges        39
Churn               66
Geography           52
PaymentMethod        0
Charge               0
dtype: int64

In [107]:
# Filling up the Null Values:s

# Using mode and mean to fill the missing values

# Calculation of the mean value of tenure
mean_tenure                      = df_churndata.mean().round(0)

# Using the fillna method for changing the null values with average in tenure
df_churndata.fillna(mean_tenure, inplace=True)

# Calculation of the mode value of gender
mode_gender                      = df_churndata["gender"].mode()[0]

# Using the fillna method for changing the null values with mode in gender
df_churndata['gender']           = df_churndata['gender'].fillna(mode_gender)

# Calculation of the mode value of PhoneService
mode_PhoneService                = df_churndata["PhoneService"].mode()[0]

# Using the fillna method for changing the null values with mode in PhoneService
df_churndata['PhoneService']     = df_churndata['PhoneService'].fillna(mode_PhoneService)

# Calculation of the mode value of MultipleLines
mode_MultipleLines               = df_churndata["MultipleLines"].mode()[0]

# Using the fillna method for changing the null values with mode in MultipleLines
df_churndata['MultipleLines']    = df_churndata['MultipleLines'].fillna(mode_MultipleLines)

# Calculation of the mode value of InternetService
mode_InternetService             = df_churndata["InternetService"].mode()[0]

# Using the fillna method for changing the null values with mode in InternetService
df_churndata["InternetService"]  = df_churndata["InternetService"].fillna(mode_InternetService)

# Calculation of the mode value of OnlineSecurity
mode_OnlineSecurity              = df_churndata["OnlineSecurity"].mode()[0]

# Using the fillna method for changing the null values with mode in OnlineSecurity
df_churndata["OnlineSecurity"]   = df_churndata["OnlineSecurity"].fillna(mode_OnlineSecurity)

# Calculation of the mode value of OnlineBackup
mode_OnlineBackup                = df_churndata["OnlineBackup"].mode()[0]

# Using the fillna method for changing the null values with mode in OnlineBackup
df_churndata["OnlineBackup"]     = df_churndata["OnlineBackup"].fillna(mode_OnlineBackup)

# Calculation of the mode value of DeviceProtection
mode_DeviceProtection            = df_churndata["DeviceProtection"].mode()[0]

# Using the fillna method for changing the null values with mode in DeviceProtection
df_churndata["DeviceProtection"] = df_churndata["DeviceProtection"].fillna(mode_DeviceProtection)

# Calculation of the mode value of DeviceProtection
mode_DeviceProtection            = df_churndata["DeviceProtection"].mode()[0]

# Using the fillna method for changing the null values with mode in DeviceProtection
df_churndata["DeviceProtection"] = df_churndata["DeviceProtection"].fillna(mode_DeviceProtection)

# Calculation of the mode value of TechSupport
mode_TechSupport                 = df_churndata["TechSupport"].mode()[0]

# Using the fillna method for changing the null values with mode in TechSupport
df_churndata["TechSupport"]      = df_churndata["TechSupport"].fillna(mode_TechSupport)

# Calculation of the mode value of StreamingTV
mode_StreamingTV                 = df_churndata["StreamingTV"].mode()[0]

# Using the fillna method for changing the null values with mode in StreamingTV
df_churndata["StreamingTV"]      = df_churndata["StreamingTV"].fillna(mode_StreamingTV)

# Calculation of the mode value of StreamingMovies
mode_StreamingMovies             = df_churndata["StreamingMovies"].mode()[0]

# Using the fillna method for changing the null values with mode in StreamingMovies
df_churndata["StreamingMovies"]  = df_churndata["StreamingMovies"].fillna(mode_StreamingMovies)

# Calculation of the mode value of StreamingMovies
mode_StreamingMovies             = df_churndata["StreamingMovies"].mode()[0]

# Using the fillna method for changing the null values with mode in StreamingMovies
df_churndata["StreamingMovies"]  = df_churndata["StreamingMovies"].fillna(mode_StreamingMovies)

# Calculation of the mode value of Contract
mode_Contract                    = df_churndata["Contract"].mode()[0]

# Using the fillna method for changing the null values with mode in Contract
df_churndata["Contract"]         = df_churndata["Contract"].fillna(mode_Contract)

# Calculation of the mode value of Churn
mode_Churn                       = df_churndata["Churn"].mode()[0]

# Using the fillna method for changing the null values with mode in Churn
df_churndata["Churn"]            = df_churndata["Churn"].fillna(mode_Churn)

# Calculation of the mode value of TotalCharges
mode_TotalCharges                = df_churndata["TotalCharges"].mode()[0]

# Using the fillna method for changing the null values with mode in TotalCharges
df_churndata["TotalCharges"]     = df_churndata["TotalCharges"].fillna(mode_TotalCharges)

# Calculation of the mode value of Geography
mode_Geography                   = df_churndata["Geography"].mode()[0]

# Using the fillna method for changing the null values with mode in Geography
df_churndata["Geography"]        = df_churndata["Geography"].fillna(mode_Geography)

df_churndata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            8000 non-null   object
 1   tenure            8000 non-null   float64
 2   PhoneService      8000 non-null   object
 3   MultipleLines     8000 non-null   object
 4   InternetService   8000 non-null   object
 5   OnlineSecurity    8000 non-null   object
 6   OnlineBackup      8000 non-null   object
 7   DeviceProtection  8000 non-null   object
 8   TechSupport       8000 non-null   object
 9   StreamingTV       8000 non-null   object
 10  StreamingMovies   8000 non-null   object
 11  Contract          8000 non-null   object
 12  TotalCharges      8000 non-null   object
 13  Churn             8000 non-null   object
 14  Geography         8000 non-null   object
 15  PaymentMethod     8000 non-null   object
 16  Charge            8000 non-null   float64
dtypes: float64(2), object(15)
memory usage: 1.0+ MB

C:\Users\santi\AppData\Local\Temp\ipykernel_4228\3729321446.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean_tenure                      = df_churndata.mean().round(0)

In [108]:
#Dropping the duplicate Rows
df_data = df_churndata.drop_duplicates()

df_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7018 entries, 0 to 7999
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7018 non-null   object
 1   tenure            7018 non-null   float64
 2   PhoneService      7018 non-null   object
 3   MultipleLines     7018 non-null   object
 4   InternetService   7018 non-null   object
 5   OnlineSecurity    7018 non-null   object
 6   OnlineBackup      7018 non-null   object
 7   DeviceProtection  7018 non-null   object
 8   TechSupport       7018 non-null   object
 9   StreamingTV       7018 non-null   object
 10  StreamingMovies   7018 non-null   object
 11  Contract          7018 non-null   object
 12  TotalCharges      7018 non-null   object
 13  Churn             7018 non-null   object
 14  Geography         7018 non-null   object
 15  PaymentMethod     7018 non-null   object
 16  Charge            7018 non-null   float64
dtypes: float64(2), object(15)
memory usage: 986.9+ KB

In [131]:
#Replacing values to No

cols_to_replace = ['MultipleLines',
                   'OnlineSecurity',
                   'OnlineBackup',
                   'DeviceProtection',
                   'TechSupport',
                   'StreamingTV',
                    'StreamingMovies']

df_data[cols_to_replace] = df_data[cols_to_replace].apply(lambda x: x.where(x == 'Yes', other='No'))


df_data.head()

C:\Users\santi\AppData\Local\Temp\ipykernel_4228\3215502477.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data[cols_to_replace] = df_data[cols_to_replace].apply(lambda x: x.where(x == 'Yes', other='No'))

<bound method DataFrame.dropna of       gender  tenure PhoneService MultipleLines InternetService  \
0     Female    72.0          Yes            No     Fiber optic
1       Male    30.0          Yes           Yes             DSL
2       Male    49.0           No            No             DSL
3     Female    25.0          Yes           Yes             DSL
4     Female    72.0          Yes           Yes     Fiber optic
...      ...     ...          ...           ...             ...
7993    Male    31.0           No            No             DSL
7995  Female    14.0           No            No             DSL
7997  Female     2.0           No            No             DSL
7998    Male     1.0          Yes            No             DSL
7999  Female    14.0          Yes            No     Fiber optic

     OnlineSecurity OnlineBackup DeviceProtection TechSupport StreamingTV  \
0               Yes          Yes              Yes         Yes         Yes
1                No           No               No          No          No
2               Yes           No               No          No          No
3               Yes           No               No         Yes         Yes
4               Yes          Yes              Yes         Yes         Yes
...             ...          ...              ...         ...         ...
7993            Yes           No              Yes         Yes         Yes
7995            Yes           No              Yes         Yes          No
7997             No          Yes               No          No          No
7998             No           No               No          No          No
7999             No           No               No          No          No

     StreamingMovies        Contract  TotalCharges Churn Geography  \
0                Yes        Two year       7679.65    No   Germany
1                 No  Month-to-month       1441.95    No   Germany
2                Yes  Month-to-month       1838.15    No   Germany
3                 No  Month-to-month       1752.65    No    France
4                Yes        Two year       8333.95    No   Germany
...              ...             ...           ...   ...       ...
7993             Yes        One year       1848.80    No    France
7995              No        Two year        692.35    No   Germany
7997              No  Month-to-month         63.75    No     Spain
7998              No  Month-to-month         45.10   Yes     Spain
7999              No  Month-to-month        914.00   Yes     Spain

                  PaymentMethod  Charge
0     Bank transfer (automatic)  108.30
1              Electronic check   49.90
2              Electronic check   39.20
3       Credit card (automatic)   69.50
4     Bank transfer (automatic)  114.65
...                         ...     ...
7993           Electronic check   59.95
7995               Mailed check   39.70
7997               Mailed check   30.25
7998           Electronic check   45.10
7999    Credit card (automatic)   71.00

[7018 rows x 17 columns]>

# Data Analysis (Logistic Regression)

In [129]:
#Convert 'TotalCharges' data type from object to numeric 
df_data['TotalCharges'] = pd.to_numeric(df_data['TotalCharges'],errors='coerce')

#Get dummy variable 
df_dataDummy = pd.get_dummies(df_data, drop_first=True)
df_dataDummy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7018 entries, 0 to 7999
Data columns (total 22 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   tenure                                 7018 non-null   float64
 1   TotalCharges                           6978 non-null   float64
 2   Charge                                 7018 non-null   float64
 3   gender_Male                            7018 non-null   uint8
 4   PhoneService_Yes                       7018 non-null   uint8
 5   MultipleLines_Yes                      7018 non-null   uint8
 6   InternetService_Fiber optic            7018 non-null   uint8
 7   InternetService_No                     7018 non-null   uint8
 8   OnlineSecurity_Yes                     7018 non-null   uint8
 9   OnlineBackup_Yes                       7018 non-null   uint8
 10  DeviceProtection_Yes                   7018 non-null   uint8
 11  TechSupport_Yes                        7018 non-null   uint8
 12  StreamingTV_Yes                        7018 non-null   uint8
 13  StreamingMovies_Yes                    7018 non-null   uint8
 14  Contract_One year                      7018 non-null   uint8
 15  Contract_Two year                      7018 non-null   uint8
 16  Churn_Yes                              7018 non-null   uint8
 17  Geography_Germany                      7018 non-null   uint8
 18  Geography_Spain                        7018 non-null   uint8
 19  PaymentMethod_Credit card (automatic)  7018 non-null   uint8
 20  PaymentMethod_Electronic check         7018 non-null   uint8
 21  PaymentMethod_Mailed check             7018 non-null   uint8
dtypes: float64(3), uint8(19)
memory usage: 349.5 KB

C:\Users\santi\AppData\Local\Temp\ipykernel_4228\2165763838.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data['TotalCharges'] = pd.to_numeric(df_data['TotalCharges'],errors='coerce')

In [143]:
#Check for missing values or data 

print(df_dataDummy.isnull().sum())

# drop rows with missing values
df_dataDummy = df_dataDummy.dropna()  

df_dataDummy.info()

# get all columns with dtype 'uint8'
uint8_cols = df_dataDummy.select_dtypes(include=['uint8']).columns

# convert to boolean data type
df_dataDummy[uint8_cols] = df_dataDummy[uint8_cols].astype(bool)

df_dataDummy.info()

tenure                                   0
TotalCharges                             0
Charge                                   0
gender_Male                              0
PhoneService_Yes                         0
MultipleLines_Yes                        0
InternetService_Fiber optic              0
InternetService_No                       0
OnlineSecurity_Yes                       0
OnlineBackup_Yes                         0
DeviceProtection_Yes                     0
TechSupport_Yes                          0
StreamingTV_Yes                          0
StreamingMovies_Yes                      0
Contract_One year                        0
Contract_Two year                        0
Churn_Yes                                0
Geography_Germany                        0
Geography_Spain                          0
PaymentMethod_Credit card (automatic)    0
PaymentMethod_Electronic check           0
PaymentMethod_Mailed check               0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6978 entries, 0 to 7999
Data columns (total 22 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   tenure                                 6978 non-null   float64
 1   TotalCharges                           6978 non-null   float64
 2   Charge                                 6978 non-null   float64
 3   gender_Male                            6978 non-null   bool
 4   PhoneService_Yes                       6978 non-null   bool
 5   MultipleLines_Yes                      6978 non-null   bool
 6   InternetService_Fiber optic            6978 non-null   bool
 7   InternetService_No                     6978 non-null   bool
 8   OnlineSecurity_Yes                     6978 non-null   bool
 9   OnlineBackup_Yes                       6978 non-null   bool
 10  DeviceProtection_Yes                   6978 non-null   bool
 11  TechSupport_Yes                        6978 non-null   bool
 12  StreamingTV_Yes                        6978 non-null   bool
 13  StreamingMovies_Yes                    6978 non-null   bool
 14  Contract_One year                      6978 non-null   bool
 15  Contract_Two year                      6978 non-null   bool
 16  Churn_Yes                              6978 non-null   bool
 17  Geography_Germany                      6978 non-null   bool
 18  Geography_Spain                        6978 non-null   bool
 19  PaymentMethod_Credit card (automatic)  6978 non-null   bool
 20  PaymentMethod_Electronic check         6978 non-null   bool
 21  PaymentMethod_Mailed check             6978 non-null   bool
dtypes: bool(19), float64(3)
memory usage: 347.5 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6978 entries, 0 to 7999
Data columns (total 22 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   tenure                                 6978 non-null   float64
 1   TotalCharges                           6978 non-null   float64
 2   Charge                                 6978 non-null   float64
 3   gender_Male                            6978 non-null   bool
 4   PhoneService_Yes                       6978 non-null   bool
 5   MultipleLines_Yes                      6978 non-null   bool
 6   InternetService_Fiber optic            6978 non-null   bool
 7   InternetService_No                     6978 non-null   bool
 8   OnlineSecurity_Yes                     6978 non-null   bool
 9   OnlineBackup_Yes                       6978 non-null   bool
 10  DeviceProtection_Yes                   6978 non-null   bool
 11  TechSupport_Yes                        6978 non-null   bool
 12  StreamingTV_Yes                        6978 non-null   bool
 13  StreamingMovies_Yes                    6978 non-null   bool
 14  Contract_One year                      6978 non-null   bool
 15  Contract_Two year                      6978 non-null   bool
 16  Churn_Yes                              6978 non-null   bool
 17  Geography_Germany                      6978 non-null   bool
 18  Geography_Spain                        6978 non-null   bool
 19  PaymentMethod_Credit card (automatic)  6978 non-null   bool
 20  PaymentMethod_Electronic check         6978 non-null   bool
 21  PaymentMethod_Mailed check             6978 non-null   bool
dtypes: bool(19), float64(3)
memory usage: 347.5 KB

In [147]:
# Logistic Regression analysis
#Set the explanatory variable
X = df_dataDummy[[#'tenure',
                  'gender_Male',
                  'PhoneService_Yes',
                  'MultipleLines_Yes',
                  'InternetService_Fiber optic',
                  'InternetService_No',
                  'OnlineSecurity_Yes',
                  'OnlineBackup_Yes',
                  'DeviceProtection_Yes',
                  'TechSupport_Yes',
                  'StreamingTV_Yes',
                  'StreamingMovies_Yes',
                  'Contract_One year',
                  'Contract_Two year',
                  'Geography_Germany',
                  'Geography_Spain',
                  'PaymentMethod_Credit card (automatic)',
                  'PaymentMethod_Electronic check',
                  'PaymentMethod_Mailed check' ]]

#Set the objective variable
y = df_dataDummy['Churn_Yes']

#Execute logistic regression
glm_model = sm.GLM(y, X, family = sm.families.Binomial()) #standardize
glm_model_result = glm_model.fit()

#Print the result of the regression 
print(glm_model_result.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:              Churn_Yes   No. Observations:                 6978
Model:                            GLM   Df Residuals:                     6960
Model Family:                Binomial   Df Model:                           17
Link Function:                  Logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -3042.3
Date:                Mon, 20 Feb 2023   Deviance:                       6084.7
Time:                        12:33:47   Pearson chi2:                 6.94e+03
No. Iterations:                     7   Pseudo R-squ. (CS):             0.2447
Covariance Type:            nonrobust
=========================================================================================================
                                            coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------
gender_Male                              -0.1032      0.061     -1.679      0.093      -0.224       0.017
PhoneService_Yes                         -0.5604      0.100     -5.619      0.000      -0.756      -0.365
MultipleLines_Yes                         0.0344      0.073      0.471      0.638      -0.109       0.178
InternetService_Fiber optic               0.8137      0.088      9.208      0.000       0.641       0.987
InternetService_No                       -1.1028      0.135     -8.185      0.000      -1.367      -0.839
OnlineSecurity_Yes                       -0.6021      0.081     -7.434      0.000      -0.761      -0.443
OnlineBackup_Yes                         -0.4058      0.071     -5.694      0.000      -0.546      -0.266
DeviceProtection_Yes                     -0.1718      0.075     -2.295      0.022      -0.319      -0.025
TechSupport_Yes                          -0.4331      0.082     -5.255      0.000      -0.595      -0.272
StreamingTV_Yes                           0.1669      0.076      2.196      0.028       0.018       0.316
StreamingMovies_Yes                       0.1462      0.076      1.927      0.054      -0.002       0.295
Contract_One year                        -1.3048      0.098    -13.279      0.000      -1.497      -1.112
Contract_Two year                        -2.3721      0.163    -14.596      0.000      -2.691      -2.054
Geography_Germany                        -0.0538      0.076     -0.709      0.478      -0.202       0.095
Geography_Spain                          -0.0293      0.077     -0.381      0.703      -0.180       0.122
PaymentMethod_Credit card (automatic)    -0.2177      0.102     -2.137      0.033      -0.417      -0.018
PaymentMethod_Electronic check            0.3498      0.078      4.476      0.000       0.197       0.503
PaymentMethod_Mailed check                0.0642      0.097      0.660      0.509      -0.127       0.255
=========================================================================================================

In [150]:
#Optimize logistic regression
#Remove the explanatory variable which p-value (P>|z|) is lower than 0.05

#Set the explanatory variable
X = df_dataDummy[[#'gender_Male',
                  'PhoneService_Yes',
                  #'MultipleLines_Yes',
                  'InternetService_Fiber optic',
                  'InternetService_No',
                  'OnlineSecurity_Yes',
                  'OnlineBackup_Yes',
                  'DeviceProtection_Yes',
                  'TechSupport_Yes',
                  'StreamingTV_Yes',
                  #'StreamingMovies_Yes',
                  'Contract_One year',
                  'Contract_Two year',
                  #'Geography_Germany',
                  #'Geography_Spain',
                  'PaymentMethod_Credit card (automatic)',
                  'PaymentMethod_Electronic check',
                  #'PaymentMethod_Mailed check'
]]

#Set the objective variable
y = df_dataDummy['Churn_Yes']

#Execute logistic regression
glm_model = sm.GLM(y, X, family = sm.families.Binomial()) #standardize
glm_model_result = glm_model.fit()

#Print the result of the regression 
print(glm_model_result.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:              Churn_Yes   No. Observations:                 6978
Model:                            GLM   Df Residuals:                     6966
Model Family:                Binomial   Df Model:                           11
Link Function:                  Logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -3046.1
Date:                Mon, 20 Feb 2023   Deviance:                       6092.1
Time:                        12:39:50   Pearson chi2:                 6.94e+03
No. Iterations:                     7   Pseudo R-squ. (CS):             0.2439
Covariance Type:            nonrobust
=========================================================================================================
                                            coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------
PhoneService_Yes                         -0.5750      0.084     -6.839      0.000      -0.740      -0.410
InternetService_Fiber optic               0.8401      0.085      9.885      0.000       0.674       1.007
InternetService_No                       -1.1166      0.133     -8.415      0.000      -1.377      -0.857
OnlineSecurity_Yes                       -0.6026      0.081     -7.466      0.000      -0.761      -0.444
OnlineBackup_Yes                         -0.4001      0.071     -5.652      0.000      -0.539      -0.261
DeviceProtection_Yes                     -0.1527      0.074     -2.069      0.039      -0.297      -0.008
TechSupport_Yes                          -0.4263      0.082     -5.205      0.000      -0.587      -0.266
StreamingTV_Yes                           0.2130      0.071      2.980      0.003       0.073       0.353
Contract_One year                        -1.2926      0.098    -13.251      0.000      -1.484      -1.101
Contract_Two year                        -2.3553      0.161    -14.584      0.000      -2.672      -2.039
PaymentMethod_Credit card (automatic)    -0.2458      0.094     -2.606      0.009      -0.431      -0.061
PaymentMethod_Electronic check            0.3245      0.068      4.744      0.000       0.190       0.459
=========================================================================================================

In [152]:
#Optimize again the regression 
#Remove the explanatory variable 'PaymentMethod_Electronic check' because of higher p-value (P>|z|)

#Set the explanatory variable
X = df_dataDummy[[#'gender_Male',
                  'PhoneService_Yes',
                  #'MultipleLines_Yes',
                  'InternetService_Fiber optic',
                  'InternetService_No',
                  'OnlineSecurity_Yes',
                  'OnlineBackup_Yes',
                  'DeviceProtection_Yes',
                  'TechSupport_Yes',
                  'StreamingTV_Yes',
                  #'StreamingMovies_Yes',
                  'Contract_One year',
                  'Contract_Two year',
                  #'Geography_Germany',
                  #'Geography_Spain',
                  'PaymentMethod_Credit card (automatic)',
                  'PaymentMethod_Electronic check',
                  #'PaymentMethod_Mailed check'
]]

#Set the objective variable
y = df_dataDummy['Churn_Yes']

#Execute logistic regression
glm_model = sm.GLM(y, X, family = sm.families.Binomial())
glm_model_result = glm_model.fit()

#Print the result of the regression
print(glm_model_result.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:              Churn_Yes   No. Observations:                 6978
Model:                            GLM   Df Residuals:                     6966
Model Family:                Binomial   Df Model:                           11
Link Function:                  Logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -3046.1
Date:                Mon, 20 Feb 2023   Deviance:                       6092.1
Time:                        12:41:19   Pearson chi2:                 6.94e+03
No. Iterations:                     7   Pseudo R-squ. (CS):             0.2439
Covariance Type:            nonrobust
=========================================================================================================
                                            coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------
PhoneService_Yes                         -0.5750      0.084     -6.839      0.000      -0.740      -0.410
InternetService_Fiber optic               0.8401      0.085      9.885      0.000       0.674       1.007
InternetService_No                       -1.1166      0.133     -8.415      0.000      -1.377      -0.857
OnlineSecurity_Yes                       -0.6026      0.081     -7.466      0.000      -0.761      -0.444
OnlineBackup_Yes                         -0.4001      0.071     -5.652      0.000      -0.539      -0.261
DeviceProtection_Yes                     -0.1527      0.074     -2.069      0.039      -0.297      -0.008
TechSupport_Yes                          -0.4263      0.082     -5.205      0.000      -0.587      -0.266
StreamingTV_Yes                           0.2130      0.071      2.980      0.003       0.073       0.353
Contract_One year                        -1.2926      0.098    -13.251      0.000      -1.484      -1.101
Contract_Two year                        -2.3553      0.161    -14.584      0.000      -2.672      -2.039
PaymentMethod_Credit card (automatic)    -0.2458      0.094     -2.606      0.009      -0.431      -0.061
PaymentMethod_Electronic check            0.3245      0.068      4.744      0.000       0.190       0.459
=========================================================================================================

# Comment
There is a certain relationship between customer churn and these explanatory variables. The variable which has minus coefficient decreases the probability of objective variable (Churn_Yes).

# Modeling

In [153]:
# x-variables
x_var = [#'gender_Male',
                  'PhoneService_Yes',
                  #'MultipleLines_Yes',
                  'InternetService_Fiber optic',
                  'InternetService_No',
                  'OnlineSecurity_Yes',
                  'OnlineBackup_Yes',
                  'DeviceProtection_Yes',
                  'TechSupport_Yes',
                  'StreamingTV_Yes',
                  #'StreamingMovies_Yes',
                  'Contract_One year',
                  'Contract_Two year',
                  #'Geography_Germany',
                  #'Geography_Spain',
                  'PaymentMethod_Credit card (automatic)',
                  'PaymentMethod_Electronic check',
                  #'PaymentMethod_Mailed check' 
        ]

In [154]:
y_data = df_dataDummy.loc[ : , 'Churn_Yes']
x_data = df_dataDummy.loc[ : , x_var]

In [155]:
x_train, x_test, y_train, y_test = train_test_split(
            x_data, # x-variables (can change this)
            y_data, # y-variable  (can change this)
            test_size    = 0.25,#25%testing and 75% trainning
            random_state = 219) #random seed for slpite the data

In [156]:
logreg = LogisticRegression()
logreg.fit(x_train, y_train)

LogisticRegression()

In [157]:
# Predict
y_predicted = logreg.predict(x_test)

In [158]:
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(x_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.80

In [161]:
confusion_matrix = confusion_matrix(y_test, y_predicted)
print(confusion_matrix)

[[1176  143]
 [ 206  220]]

In [162]:
print(classification_report(y_test, y_predicted))
from sklearn.metrics import f1_score
f1 = f1_score(y_test,y_predicted).round(2)
print(f'''f1 = {f1}''')

              precision    recall  f1-score   support

       False       0.85      0.89      0.87      1319
        True       0.61      0.52      0.56       426

    accuracy                           0.80      1745
   macro avg       0.73      0.70      0.71      1745
weighted avg       0.79      0.80      0.79      1745

f1 = 0.56