In [10]:
# importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.preprocessing import StandardScaler

In [11]:


# specifying file name
file = 'A2.csv'

# setting pandas print options
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# reading the file into Python
data_df = pd.read_csv(file)

In [18]:
# x variables 
x_var = [
#                   'Unnamed: 0', 
                  'gender', 
                  'SeniorCitizen', 
                  'Partner', 
                  'tenure', 
                  'PhoneService', 
                  'MultipleLines', 
                  'InternetService', 
                  'OnlineSecurity', 
                  'OnlineBackup', 
                  'DeviceProtection', 
                  'TechSupport', 
                  'StreamingTV', 
                  'StreamingMovies', 
                  'Contract', 
                  'PaperlessBilling', 
                  'TotalCharges', 
                  'Geography', 
                  'CreditScore', 
#                   'Surname', 
                  'EstimatedSalary', 
#                   'MonthlyCharges', 
#                   'customerID', 
                  'Dependents', 
                  'PaymentMethod', 
                  'Charge',
                  'Churn' 

]

In [19]:
data_df = data_df.loc[:,x_var]

In [95]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7337 entries, 0 to 7999
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7337 non-null   object
 1   SeniorCitizen     7337 non-null   float64
 2   Partner           7337 non-null   bool
 3   tenure            7337 non-null   float64
 4   PhoneService      7337 non-null   object
 5   MultipleLines     7337 non-null   object
 6   InternetService   7337 non-null   object
 7   OnlineSecurity    7337 non-null   object
 8   OnlineBackup      7337 non-null   object
 9   DeviceProtection  7337 non-null   object
 10  TechSupport       7337 non-null   object
 11  StreamingTV       7337 non-null   object
 12  StreamingMovies   7337 non-null   object
 13  Contract          7337 non-null   object
 14  PaperlessBilling  7337 non-null   object
 15  TotalCharges      7337 non-null   object
 16  Geography         7337 non-null   object
 17  CreditScore       7337 non-null   float64
 18  EstimatedSalary   7293 non-null   float64
 19  Dependents        7337 non-null   bool
 20  PaymentMethod     7337 non-null   object
 21  Charge            7337 non-null   float64
 22  Churn             7337 non-null   object
dtypes: bool(2), float64(5), object(16)
memory usage: 1.2+ MB

In [ ]:

"""
*****total charges - median
*****credit score - median

*****estimated salary - median ? outliers

In [34]:
# ROWS we decided to drop because of NA's
data_df = data_df.dropna(subset=['gender'])
data_df = data_df.dropna(subset=['SeniorCitizen'])
data_df = data_df.dropna(subset=['PhoneService'])
data_df = data_df.dropna(subset=['MultipleLines'])
data_df = data_df.dropna(subset=['InternetService'])
data_df = data_df.dropna(subset=['OnlineSecurity'])
data_df = data_df.dropna(subset=['InternetService'])
data_df = data_df.dropna(subset=['OnlineBackup'])
data_df = data_df.dropna(subset=['DeviceProtection'])
data_df = data_df.dropna(subset=['TechSupport'])
data_df = data_df.dropna(subset=['StreamingTV'])
data_df = data_df.dropna(subset=['StreamingMovies'])
data_df = data_df.dropna(subset=['PaperlessBilling'])
data_df = data_df.dropna(subset=['Churn'])

In [94]:
data_df['TotalCharges'].unique()

array(['7679.65', '1441.95', '1838.15', ..., '1848.8', '692.35', '914'],
      dtype=object)

In [37]:
# Replace NaN values in 'Partner' column with random 'Yes' or 'No' values
partner_values = ['Yes', 'No']
data_df['Partner'] = np.where(data_df['Partner'].isna(), np.random.choice(partner_values, size=len(data_df)), data_df['Partner'])
data_df['Partner'] = data_df['Partner'].map({'Yes':True,'No':False})

data_df['Dependents'] = data_df['Dependents'].map({'Yes':True,'No':False})

In [45]:
#Filling missing values with median from the column
data_df['tenure'] = (data_df['tenure'].fillna(data_df['tenure'].median()))
data_df['CreditScore'] = (data_df['CreditScore'].fillna(data_df['CreditScore'].median()))
#Replacing the "No phone service" with "No" for NO PHONE SERVICE
data_df['MultipleLines'] = data_df['MultipleLines'].replace('No phone service', 'No')
#Replacing the "No internet service" with "No" for ONLINE SECURITY
data_df['OnlineSecurity'] = data_df['OnlineSecurity'].replace('No internet service', 'No')
#Replacing the "No internet service" with "No" for ONLINE BACKUP
data_df['OnlineBackup'] = data_df['OnlineBackup'].replace('No internet service', 'No')
#Replacing the "No internet service" with "No" for DECIVE PROTECTION
data_df['DeviceProtection'] = data_df['DeviceProtection'].replace('No internet service', 'No')
#Replacing the "No internet service" with "No" for TECH SUPPORT
data_df['TechSupport'] = data_df['TechSupport'].replace('No internet service', 'No')
#Replacing the "No internet service" with "No" for STREAMING TV
data_df['StreamingTV'] = data_df['StreamingTV'].replace('No internet service', 'No')
#Replacing the "No internet service" with "No" for STREAMING MOVIES
data_df['StreamingMovies'] = data_df['StreamingMovies'].replace('No internet service', 'No')

#Replacing nan with month to month (ASSUMPTION) IN CONTRACT
data_df['Contract'] = (data_df['Contract'].fillna('Month-to-month'))

# Replace NaN values in 'Geography' column with random 'Spain', 'France', 'Germany' values
geography_values = ['Germany', 'France', 'Spain']
data_df['Geography'] = np.where(data_df['Geography'].isna(), np.random.choice(geography_values, size=len(data_df)), data_df['Geography'])