## Import Packages and Read File

In [1]:
# importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.preprocessing import StandardScaler

In [2]:
# specifying file name
file = 'A2.csv'

# setting pandas print options
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# reading the file into Python
data_df = pd.read_csv(file)
data_re_initialized = True

## EDA | Data Cleaning | Memory Minimization

#### EDA

- gender - drop row
- senior citizen - drop row
- partner  - randomise
- tenure - median
- phone sexrvice - drop row
- miltiple lines - erase row & no phone service ---> no
- internet service - drop row
- online security  - erase row & no phone service ---> no
- "
- "
- "
- "
- streming movies - same
- contract - fill empyt with month to month - make category col
- paperless billing - drop row
- total charges - median
- georgraphy - random between other values
- credit score - median
- surname - drop col
- estimated salary - median
- monthy charges - drop col
- customer id - drop col
- dependents - no missing value
- payment method - no null - category
- charge - no missing value
<br>
<br>
- churn - drop rows

In [ ]:
data_df.head(10)

In [ ]:
data_df.info()

#### Drop Columns

In [3]:
# drop colums 
data_df = data_df[[
#                   'Unnamed: 0', 
                  'gender', 
                  'SeniorCitizen', 
                  'Partner', 
                  'tenure', 
                  'PhoneService', 
                  'MultipleLines',
                  'InternetService', 
                  'OnlineSecurity', 
                  'OnlineBackup', 
                  'DeviceProtection', 
                  'TechSupport', 
                  'StreamingTV', 
                  'StreamingMovies', 
                  'Contract', 
                  'PaperlessBilling', 
                  'TotalCharges', 
                  'Geography', 
                  'CreditScore', 
#                   'Surname', 
                  'EstimatedSalary', 
#                   'MonthlyCharges', 
#                   'customerID', 
                  'Dependents', 
                  'PaymentMethod', 
                  'Charge',
                  'Churn']]
data_df.head(1)

   gender  SeniorCitizen Partner  tenure PhoneService MultipleLines InternetService OnlineSecurity OnlineBackup DeviceProtection TechSupport StreamingTV StreamingMovies  Contract PaperlessBilling TotalCharges Geography  CreditScore  EstimatedSalary Dependents              PaymentMethod  Charge Churn
0  Female            0.0     Yes    72.0          Yes            No     Fiber optic            Yes          Yes              Yes         Yes         Yes             Yes  Two year              Yes      7679.65   Germany        602.0         45038.29        Yes  Bank transfer (automatic)   108.3    No

#### Clean Missing Values

Drop rows with null values for these fields

In [4]:
# ROWS we decided to drop because of NA's
data_df = data_df.dropna(subset=['gender'])
data_df = data_df.dropna(subset=['SeniorCitizen'])
data_df = data_df.dropna(subset=['PhoneService'])
data_df = data_df.dropna(subset=['MultipleLines'])
data_df = data_df.dropna(subset=['InternetService'])
data_df = data_df.dropna(subset=['OnlineSecurity'])
data_df = data_df.dropna(subset=['InternetService'])
data_df = data_df.dropna(subset=['OnlineBackup'])
data_df = data_df.dropna(subset=['DeviceProtection'])
data_df = data_df.dropna(subset=['TechSupport'])
data_df = data_df.dropna(subset=['StreamingTV'])
data_df = data_df.dropna(subset=['StreamingMovies'])
data_df = data_df.dropna(subset=['PaperlessBilling'])
data_df = data_df.dropna(subset=['Churn'])

In [5]:
# Dealing with special problem in TotalCharges
data_df.TotalCharges = data_df.TotalCharges.replace(' ', '0')
data_df.TotalCharges = data_df.TotalCharges.astype('float')
median_TotalCharges = data_df.TotalCharges.median()
data_df.TotalCharges = data_df.TotalCharges.fillna(median_TotalCharges)

# Replaceing null with median for EstimatedSalary
median_EstimatedSalary = data_df.EstimatedSalary.median()
data_df.EstimatedSalary = data_df.EstimatedSalary.fillna(median_EstimatedSalary)

In [6]:
#Filling missing values with median from the column
data_df['tenure'] = (data_df['tenure'].fillna(data_df['tenure'].median()))
data_df['CreditScore'] = (data_df['CreditScore'].fillna(data_df['CreditScore'].median()))
#Replacing the "No phone service" with "No" for NO PHONE SERVICE
data_df['MultipleLines'] = data_df['MultipleLines'].replace('No phone service', 'No')
#Replacing the "No internet service" with "No" for ONLINE SECURITY
data_df['OnlineSecurity'] = data_df['OnlineSecurity'].replace('No internet service', 'No')
#Replacing the "No internet service" with "No" for ONLINE BACKUP
data_df['OnlineBackup'] = data_df['OnlineBackup'].replace('No internet service', 'No')
#Replacing the "No internet service" with "No" for DECIVE PROTECTION
data_df['DeviceProtection'] = data_df['DeviceProtection'].replace('No internet service', 'No')
#Replacing the "No internet service" with "No" for TECH SUPPORT
data_df['TechSupport'] = data_df['TechSupport'].replace('No internet service', 'No')
#Replacing the "No internet service" with "No" for STREAMING TV
data_df['StreamingTV'] = data_df['StreamingTV'].replace('No internet service', 'No')
#Replacing the "No internet service" with "No" for STREAMING MOVIES
data_df['StreamingMovies'] = data_df['StreamingMovies'].replace('No internet service', 'No')

#Replacing nan with month to month (ASSUMPTION) IN CONTRACT
data_df['Contract'] = (data_df['Contract'].fillna('Month-to-month'))

# Replace NaN values in 'Geography' column with random 'Spain', 'France', 'Germany' values
geography_values = ['Germany', 'France', 'Spain']
data_df['Geography'] = np.where(data_df['Geography'].isna(), np.random.choice(geography_values, size=len(data_df)), data_df['Geography'])

# replace partner with random choice
partner_values = ['Yes', 'No']
data_df['Partner'] = np.where(data_df['Partner'].isna(), np.random.choice(partner_values, size=len(data_df)), data_df['Partner'])

In [ ]:
data_df.info()

#### Optimising Memory Use

In [7]:
if data_re_initialized:
    print('Optomising Memory Use\n\n')
    
    data_df['IsFemale'] = data_df.gender.map({'Female': True,
                                            'Male': False})
    data_df = data_df.drop('gender', axis=1)
    
    data_df.SeniorCitizen = data_df.SeniorCitizen.map({0.0: False,
                                                      1.0: True})
    data_df.Partner = data_df.Partner.map({'Yes': True,
                                           'No': False})
    data_df.tenure = data_df.tenure.astype('int16')
    data_df.PhoneService = data_df.PhoneService.map({'Yes': True,
                                                     'No': False})
    data_df.MultipleLines = data_df.MultipleLines.map({'Yes': True,
                                                       'No': False})
    data_df.InternetService = data_df.InternetService.astype('category')
    data_df.OnlineSecurity = data_df.OnlineSecurity.map({'Yes': True,
                                                         'No': False})
    data_df.OnlineBackup = data_df.OnlineBackup.map({'Yes': True,
                                                     'No': False})
    data_df.DeviceProtection = data_df.DeviceProtection.map({'Yes': True,
                                                             'No': False})
    data_df.TechSupport = data_df.TechSupport.map({'Yes': True,
                                                   'No': False})
    data_df.StreamingTV = data_df.StreamingTV.map({'Yes': True,
                                                   'No': False})
    data_df.StreamingMovies = data_df.StreamingMovies.map({'Yes': True,
                                                           'No': False})
    data_df.Contract = data_df.Contract.astype('category')
    data_df.PaperlessBilling = data_df.PaperlessBilling.map({'Yes': True,
                                                             'No': False})
    data_df.TotalCharges = data_df.TotalCharges.astype('float16')
    data_df.Geography = data_df.Geography.astype('category')
    data_df.CreditScore = data_df.CreditScore.astype('int16')
    data_df.EstimatedSalary = data_df.EstimatedSalary.astype('float32')
    data_df.Dependents = data_df.Dependents.map({'Yes': True,
                                                 'No': False})
    data_df.PaymentMethod = data_df.PaymentMethod.astype('category')
    data_df.Charge = data_df.Charge.astype('float16')
    data_df.Churn = data_df.Churn.map({'Yes': True,
                                       'No': False})
    
    # make sure this step only happens once
    data_re_initialized = False

data_df.info()

Optomising Memory Use


<class 'pandas.core.frame.DataFrame'>
Int64Index: 7337 entries, 0 to 7999
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SeniorCitizen     7337 non-null   bool
 1   Partner           7337 non-null   bool
 2   tenure            7337 non-null   int16
 3   PhoneService      7337 non-null   bool
 4   MultipleLines     7337 non-null   bool
 5   InternetService   7337 non-null   category
 6   OnlineSecurity    7337 non-null   bool
 7   OnlineBackup      7337 non-null   bool
 8   DeviceProtection  7337 non-null   bool
 9   TechSupport       7337 non-null   bool
 10  StreamingTV       7337 non-null   bool
 11  StreamingMovies   7337 non-null   bool
 12  Contract          7337 non-null   category
 13  PaperlessBilling  7337 non-null   bool
 14  TotalCharges      7337 non-null   float16
 15  Geography         7337 non-null   category
 16  CreditScore       7337 non-null   int16
 17  EstimatedSalary   7337 non-null   float32
 18  Dependents        7337 non-null   bool
 19  PaymentMethod     7337 non-null   category
 20  Charge            7337 non-null   float16
 21  Churn             7337 non-null   bool
 22  IsFemale          7337 non-null   bool
dtypes: bool(14), category(4), float16(2), float32(1), int16(2)
memory usage: 272.9 KB

In [8]:
data_df.groupby('Churn').mean()

       SeniorCitizen   Partner     tenure  PhoneService  MultipleLines  OnlineSecurity  OnlineBackup  DeviceProtection  TechSupport  StreamingTV  StreamingMovies  PaperlessBilling  TotalCharges  CreditScore  EstimatedSalary  Dependents    Charge  IsFemale
Churn
False       0.129427  0.529390  37.391619      0.901910       0.412943        0.332097      0.368811          0.362692     0.339143     0.368997         0.373447          0.536065        2546.0   649.514741     99480.468750    0.343594  61.59375  0.493974
True        0.256173  0.363683  18.034979      0.909465       0.451132        0.159979      0.288066          0.293724     0.167181     0.432613         0.441872          0.746399        1533.0   652.617284    102808.070312    0.175412  74.62500  0.503086

## No changes

### Variable selection
Select x_var for the model

In [9]:
x_var = ['SeniorCitizen', 
         'Partner', 'tenure', 
         'PhoneService', 
         'MultipleLines', 
#          'InternetService', 
         'OnlineSecurity', 
         'OnlineBackup', 
         'DeviceProtection', 
         'TechSupport', 
         'StreamingTV', 
         'StreamingMovies', 
#          'Contract', 
         'PaperlessBilling', 
         'TotalCharges', 
#          'Geography', 
         'CreditScore', 
         'EstimatedSalary', 
         'Dependents', 
#          'PaymentMethod', 
         'Charge', 
         'IsFemale']

### Create and Train Model

In [10]:
y_data = data_df.loc[:, 'Churn']
x_data = data_df.loc[:, x_var]

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.3, random_state=23)

In [11]:
model_lr = LogisticRegression()

In [12]:
model_lr.fit(x_train, y_train)

LogisticRegression()

In [13]:
y_predicted = model_lr.predict(x_test)

### Results

In [14]:
predicted_positive, predicted_negative = confusion_matrix(y_test, y_predicted)
print(f"""
        true positive | false positive
        {predicted_positive[0]} ({(predicted_positive[0]/22.02).round(2)}%) | {predicted_positive[1]} ({(predicted_positive[1]/22.02).round(2)}%)
        --------------+----------------
       false negative | true negative
        {predicted_negative[0]} ({(predicted_negative[0]/22.02).round(2)}%)  | {predicted_negative[1]} ({(predicted_negative[1]/22.02).round(2)}%)
             
      """) 
print(classification_report(y_test, y_predicted))

        true positive | false positive
        1461 (66.35%) | 165 (7.49%)
        --------------+----------------
       false negative | true negative
        338 (15.35%)  | 238 (10.81%)


              precision    recall  f1-score   support

       False       0.81      0.90      0.85      1626
        True       0.59      0.41      0.49       576

    accuracy                           0.77      2202
   macro avg       0.70      0.66      0.67      2202
weighted avg       0.75      0.77      0.76      2202

## Looking at Skewness

In [ ]:
data_df.info()

In [15]:
numeric_columns = ['tenure', 'TotalCharges', 'CreditScore', 'EstimatedSalary']
for column in numeric_columns:
    print(column, ':\t', data_df[column].skew())

tenure :	 0.2518930250256052
TotalCharges :	 nan
CreditScore :	 -0.06964944508271206
EstimatedSalary :	 -0.007037146

## Random Forest

In [ ]:
# create random forest model
# fit the model
# get y predicted

## TO DO

In [16]:
data_df.Churn.value_counts()

False    5393
True     1944
Name: Churn, dtype: int64

- bins for categories
- Scaling
- resmpling